<%- include('partials/header') %>

<section class="panel pre-opening-layout">
  <div class="pre-opening-form">
    <h2>Pre-Opening Event Sign Up</h2>

    <p class="pre-opening-note">
      Sign up to be contacted when our San Antonio area pre-opening event date and location are selected.
      Interested users will be contacted by text and email to choose a pre-grading time slot.
    </p>

    <% if (success) { %>
      <div class="success-message">
        Thank you! You are on the pre-opening event interest list.
      </div>
    <% } %>

    <form class="form-grid single" action="/pre-opening" method="post">
      <label>
        <span>Name</span>
        <input type="text" name="name" required />
      </label>

      <label>
        <span>Email</span>
        <input type="email" name="email" required />
      </label>

      <label>
        <span>Phone Number</span>
        <input type="tel" name="phone" required />
      </label>

      <button class="btn btn-dark fit" type="submit">Join Interest List</button>
    </form>
  </div>

  <div class="pre-opening-gallery">
    <div class="scroll-track">
      <img src="https://your-bucket-name.s3.your-region.amazonaws.com/pre-opening/event-1.png" />
      <img src="https://your-bucket-name.s3.your-region.amazonaws.com/pre-opening/event-2.png" />
      <img src="https://your-bucket-name.s3.your-region.amazonaws.com/pre-opening/event-3.png" />
      <img src="https://your-bucket-name.s3.your-region.amazonaws.com/pre-opening/event-4.png" />
      <img src="https://your-bucket-name.s3.your-region.amazonaws.com/pre-opening/event-1.png" />
      <img src="https://your-bucket-name.s3.your-region.amazonaws.com/pre-opening/event-2.png" />
      <img src="https://your-bucket-name.s3.your-region.amazonaws.com/pre-opening/event-3.png" />
      <img src="https://your-bucket-name.s3.your-region.amazonaws.com/pre-opening/event-4.png" />
    </div>
  </div>
</section>

<%- include('partials/footer') %>